.recent-posts li small {
  font-size: 75%;
  color: #999;
}

.favicons {
  margin: 20px 0px;
  text-align: center;
}

.favicon img {
  margin: 0px 10px;
  display: inline-block;
}

#mc_embed_signup {
  background: none;
  clear: left;
  font: 14px Helvetica,Arial,sans-serif;
  width: 100%;
}

#mc_embed_signup .email {
  width: 250px !important;
}

#mc_embed_signup .button {
  @media (max-width: 800px) {
    width: 100px !important;
  }
}