.list {
  margin: 50px auto;
  padding: 10px;
  border: 2px solid black;
  width: 90%;
  overflow: hidden;
}

.list img {
  max-height: 180px;
  margin: 0px 30px 0px 10px;
  float: left;
  @media(max-width:800px) {
    margin: 10px auto;
    float: none;
  }
  display: block;
}

.list .text {
  width: 400px;
  float: left;
  margin-top: 10px;
  margin-left: 20px;
  line-height: 25px;
   @media(max-width:800px) {
    margin-top: 10px;
    margin-left: 0px;
    width: auto;
    float: none;
    display: block;
  }
}

.page img {
  margin: 10px auto;
}
