---
layout: default
---

{% assign slug = page.url|remove:'/books'|remove:'/' %}
{% assign book = site.data.books | where: 'Slug', slug |  first %}

<img class="bookImage" src="/public/books/{{ book.Image }}" alt="{{ book.Title }}"/>
<h1 class="bookTitle">{{ book.Title }}</h1>
<p class="bookDateRead"><b>Date Read:</b> {{ book.DateRead }}</p>
<p class="bookRating">My rating: <b>{{ book.Rating }}</b>/10</p>
<p class="bookOthers">(See my <a href="/books">list of other books</a> I've read)</p>
<p class="bookAmazon">Go to the <a href="{{ book.AmazonLink }}">Amazon page</a> for details and reviews.</p>
<hr>
<p>{{ book.Summary }} </p>
<hr>
<h1>Notes</h1>
<article class="page">
  {{ content }}
</article>

